.login-container {
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #1565C0;
    overflow: hidden;
    z-index: 100;
  }
  
  .login-card {
    display: flex;
    width: 70%;
    flex-direction: column;
  }
  
  .login-title {
    margin-bottom: 2em;
    font-size: 1.8em;
    color:#fff;
    text-align: center;
  }
  
  .login-card input {
    margin-top: 1em;
    border: none;
    border-radius: 3px;
    color: #fff;
    background: #0D47A1;
    padding: 1em;
    width: 100%;
  }
  
  .login-card input::placeholder { color: #90CAF9 }
  
  .login-card input:focus {
    outline-color: aqua
  }
  
  .login-card button {
    margin-top: 2em;
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #2196F3;
    color: #fff;
    padding: 1em;
  }

  @media screen and (min-width: 720px) {
    .login-card {
      width: 30%
    }
  }