* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }

a { color: initial; text-decoration: none; }

i[class^="icon"]{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
}

.no-found {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index:-1;
}

.mt-1 { margin-top: 1em }

@media screen and (min-width: 720px) {
  body { background: #e2e2e2 } 
  .container {
    position: relative;
    width: 70%;
    margin: auto;
    background: #fff;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .no-found {
    background: #fff;
    height: 30em;
  }

}
