* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box; }

a {
  color: initial;
  text-decoration: none; }

i[class^="icon"] {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer; }

.no-found {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: -1; }

.mt-1 {
  margin-top: 1em; }

@media screen and (min-width: 720px) {
  body {
    background: #e2e2e2; }
  .container {
    position: relative;
    width: 70%;
    margin: auto;
    background: #fff;
    margin-top: 1em;
    margin-bottom: 1em; }
  .no-found {
    background: #fff;
    height: 30em; } }

.profile-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 1em; }

.avatar-container {
  height: 20em;
  width: 100%; }

.avatar-container img {
  width: 100%;
  height: 80%; }

.loading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 15; }

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.card {
  position: relative;
  padding: .5em;
  margin-top: 1em; }

.login-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #1565C0;
  overflow: hidden;
  z-index: 100; }

.login-card {
  display: flex;
  width: 70%;
  flex-direction: column; }

.login-title {
  margin-bottom: 2em;
  font-size: 1.8em;
  color: #fff;
  text-align: center; }

.login-card input {
  margin-top: 1em;
  border: none;
  border-radius: 3px;
  color: #fff;
  background: #0D47A1;
  padding: 1em;
  width: 100%; }

.login-card input::placeholder {
  color: #90CAF9; }

.login-card input:focus {
  outline-color: aqua; }

.login-card button {
  margin-top: 2em;
  width: 100%;
  border: none;
  border-radius: 5px;
  background: #2196F3;
  color: #fff;
  padding: 1em; }

@media screen and (min-width: 720px) {
  .login-card {
    width: 30%; } }

nav {
  height: 4em;
  z-index: 20;
  box-shadow: 2px 2px 2px lightgray; }

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #2196F3;
  height: 4em;
  padding: 0 .5em 0 .5em;
  z-index: 10; }

.navbar i {
  color: #fff; }

.side-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all .5s;
  z-index: 20; }

.side-bar-menu {
  position: relative;
  width: 70%;
  height: 100%;
  background: #fff;
  z-index: 10; }

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25%;
  background: url("https://graphicflip.com/wp-content/uploads/2016/02/5-backgrounds.jpg"); }

.profile-info {
  display: flex;
  flex-direction: column;
  padding: 1em;
  height: 5em;
  margin-top: -.5em; }

.profile-info span {
  margin-top: .5em;
  color: #fff; }

.side-bar-else {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(33, 33, 33, 0.5); }

.sb-show {
  left: 0; }

.sb-hide {
  left: -100%; }

.sb-show .side-bar-else {
  visibility: visible; }

.sb-hide .side-bar-else {
  visibility: hidden; }

.navbar-right-side {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.navbar-center-side {
  color: #fff;
  font-weight: bold;
  font-size: 1.2em; }

.avatar {
  position: relative;
  width: 25%;
  height: 100%;
  border-radius: 50%; }

.list-options a {
  display: block;
  text-decoration: none;
  color: black; }

.list-options i {
  color: grey; }

.list-options a, .list-options li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: .5em;
  cursor: pointer; }

.list-options li {
  background: none; }

.list-options a:hover {
  background: #e2e2e2; }

.search-engine {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 100%;
  top: 0;
  width: 100%;
  height: 4em;
  padding: .5em;
  background: #fff;
  box-shadow: 1px 1px 4px grey;
  color: grey;
  z-index: 11;
  transition: all .25s; }

.sub-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 50%;
  padding: .5em;
  top: 1em;
  transition: all .25s;
  overflow: hidden;
  list-style: none;
  z-index: 20; }

.sub-menu li {
  padding: .5em; }

.hide-sm {
  width: 0;
  padding: 0;
  box-shadow: 0 0 0; }

.show-sm {
  width: 50%;
  padding: .5em;
  box-shadow: 2px 2px 2px lightgrey; }

.sm-context {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 19; }

.show-search {
  left: 0; }

.search-engine input {
  width: 70%;
  font-size: 1.2em;
  border: none; }

.search-engine input:focus {
  outline: none; }

@media screen and (min-width: 720px) {
  .side-bar {
    width: 35%; } }

.float-button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 10vh;
  bottom: 2em;
  right: 1em;
  border-radius: 50%;
  padding: 1em;
  box-shadow: 2px 2px 5px lightgray;
  background: #2196F3;
  color: #fff;
  cursor: pointer; }

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em;
  border: none;
  background: lightgrey;
  font-size: 1em;
  color: grey;
  text-transform: uppercase; }

.btn-primary {
  background: #2196F3;
  color: #ffff; }

.btn-success {
  background: #4CAF50;
  color: #fff; }

@media screen and (min-width: 720px) {
  .float-button {
    width: 5em; }
  .btn {
    width: 40%;
    margin-left: 30%; } }

.form-container {
  padding: 1em; }

.input-group {
  position: relative;
  height: 9em;
  margin-top: 1vh; }

.input-group input {
  position: relative;
  width: 100%;
  border: none;
  height: 100%;
  padding: .5em;
  font-size: 1em;
  background: none;
  border-bottom: solid thin lightgrey;
  transition: all 1s; }

.input-group label, .focus label {
  position: absolute;
  top: 60%;
  left: 0;
  color: lightgray;
  transition: all .5s; }

.input-group input:focus, .focus input {
  outline: none;
  border-bottom: solid 2px #2196F3; }

.input-group input:focus + label, .focus label {
  top: 0;
  font-size: .6em;
  color: #2196F3; }

.textarea {
  width: 100%;
  height: 5em;
  padding: .5em;
  border: solid thin lightgray; }

.textarea::placeholder {
  color: grey; }

.list-view {
  position: relative;
  width: 100%; }

.list-item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: solid 1px lightgray;
  padding: 1em;
  cursor: pointer; }

.list-item-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 90%;
  color: grey; }

.list-item-second-content {
  width: 20%; }

.lv-title {
  color: black; }

.list-item-action {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 10%;
  height: 100%;
  align-items: center;
  font-size: 1.3em;
  color: grey; }

/* Customize the label (the container) */
.checkbox {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  margin-right: 1em; }

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: #ccc; }

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #2196F3; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.job-container {
  padding: 1em;
  background: #e2e2e2; }

.job-content {
  margin-top: 2em;
  padding: .5em;
  overflow: auto; }

.card-job {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
  cursor: pointer;
  margin-top: 1em;
  width: 100%; }

.first-child {
  width: 60%; }

.second-child {
  width: 30%; }

.icon-trash {
  width: 10%; }

.icon-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .75em;
  font-size: 2em;
  width: 2.5vw;
  height: 2.5vh;
  border-radius: 50%;
  background: black;
  color: #fff;
  margin: 0; }

.jobs {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.jobs > .jobs.card-job {
  width: 100%; }

.jobs-container {
  padding: 1em; }

.jobs-container span {
  margin-top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%; }

.form-group input, .form-group button {
  margin-top: 1em; }

.subtotal, .tax, .total {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em; }

.total {
  padding: .5em;
  font-size: 2em; }

.add-payment {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em; }

.add-payment input {
  width: 100%; }

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 10;
  overflow: hidden;
  border: solid thin lightgray;
  transition: all .5s; }

.hide-modal-fade {
  width: 0;
  height: 0; }

.hide-modal-bottom {
  top: 100%; }

.card {
  position: relative;
  margin-top: 1em;
  border: solid thin lightgray;
  padding: 0; }

.card-item, .card-item-home {
  position: relative;
  display: flex;
  background: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-bottom: solid thin lightgray; }

.card-item-home {
  width: 90%;
  margin: auto;
  margin-top: 5vh; }

.card-item-home:hover {
  background: lightgray; }
