* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #303f9f;
  --light-color: #666ad1;
  --dark-color: #001970;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}

.margin-top-1 {
  margin-top: 1rem;
}

.padding-1 { padding: 1rem }

/*  Color Menu */

.bg-color-primary {
  background: var(--primary-color);
}

/* Navbar styles */

.navigation-bar {
  min-height: 5rem;
}

.main-navbar {
  height: 7rem;
}

.main-navbar header,
.main-navbar nav {
  height: calc(7rem / 2);
  padding: 0.25rem 0 0 0.25rem;
}

.main-navbar header {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-navbar nav ul {
  position: relative;
  width: 100%;
  height: 100%;
  list-style: none;
  color: #ffffff;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.main-navbar nav ul li {
  display: block;
  text-align: center;
  overflow-x: hidden;
  padding: .25rem;
}
.main-navbar nav ul li * {
  width: 100%;
}

.main-navbar nav ul li:hover {
  background: var(--dark-color);
  cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--primary-color);
  z-index: 1000;
}

.searchview-bar {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid thin lightgray;
}

/* Container style */

.container {
  position: relative;
  margin-bottom: 5rem;
  width: 100vw;
  overflow-x: hidden;
}

.w-drawer {
  width: 70vw;
}

.bg-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to right, #3f51b5, #c5cae9);
  z-index: -1;
}

.fab-fixed {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.fab-bar__fixed {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 1rem;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 100;
}

.user-profile-banner {
  background: #3f51b5;
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile-banner img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.user-profile-banner-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.add-budget {
  position: relative;
  width: 100%;
  height: 55vh;
  padding: 1rem;
  font-size: 1.2rem;
  border: none;
}

.add-budget:focus {
  outline: none;
}

.add-comment-input {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

/* Desktop styles */

@media screen and (min-width: 768px) {
  .container {
    width: 70%;
    margin: auto;
  }
  .user-profile-banner-bar {
    display: none;
  }
}
